@import "./reset.css";

* {
  box-sizing: border-box;
}
.section {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 90%;
  height: 80%;
  top: -72%;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s ease-in-out;
  z-index: 1;
}

.calendar {
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: aqua;
  width: 100%;
  height: 90%;
  display: flex;
}

.calendarBtn {
  width: 10%;
  height: 10%;
  padding: 1.2% 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: aqua;
  text-align: center;
  cursor: pointer;
}

.calendarMonth {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.calendarMonthBtn {
  width: 25%;
  height: 10%;
  margin: 10% 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.calendarMonthBtn:focus {
  outline: none;
}

.calendarMonthUpLogo {
  width: 100%;
  height: 100%;
}

.calendarMonthDownLogo {
  width: 100%;
  height: 100%;
}

.calendarMonthCurrent {
  width: 50%;
  height: 25%;
  overflow: hidden;
  position: relative;
}

.calendarMonthWrap {
  width: 100%;
  height: 1200%;
  position: absolute;
  top: 0;
  transition: .5s ease;
}

.calendarMonthLogo {
  margin-bottom: 0.5%;
  width: 100%;
  height: 8.3%;
  background: url(./image/month.png) no-repeat;
  background-size: 800% 200%;
}

.calendarMonthLogo1 {
  background-position: 0 0;
}

.calendarMonthLogo2 {
  background-position: 14.3% 0;
}

.calendarMonthLogo3 {
  background-position: 28.6% 0;
}

.calendarMonthLogo4 {
  background-position: 42.9% 0;
}

.calendarMonthLogo5 {
  background-position: 57.1% 0;
}

.calendarMonthLogo6 {
  background-position: 71.4% 0;
}

.calendarMonthLogo7 {
  background-position: 85.7% 0;
}

.calendarMonthLogo8 {
  background-position: 100% 0;
}

.calendarMonthLogo9 {
  background-position: 0 100%;
}

.calendarMonthLogo10 {
  background-position: 14.3% 100%;
}

.calendarMonthLogo11 {
  background-position: 28.6% 100%;
}

.calendarMonthLogo12 {
  background-position: 42.9% 100%;
}

.calendarMain {
  flex: 4;
  width: 100%;
  height: 100%;
  margin: 0 5%;
  padding: 1%;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(7, 1fr);
  grid-auto-rows: 1fr;
  background-color: blueviolet;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.toDo {
  width: 90%;
  height: 84%;
  background-color: bisque;
  position: absolute;
  top: 8%;
  border-radius: 20px;
}

#timeBack {
  width: 30%;
  height: 20%;
  background-color: lightgray;
  border-radius: 20px;
  position: absolute;
  top: 8%;
  z-index: 2;
  transition: 1s ease-in-out;
}

.time {
  background-color: black;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  display: flex;
  align-items: center;
}

.currentTime {
  flex: 3;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
}

.currentDate {
  flex: 1;
  height: 80%;
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.dateLine {
  margin-right: 10%;
  border-top: 2px solid white;
}

.toDoHeader {
  height: 24%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toDoHeaderContent {
  width: 33%;
  height: 100%;
  text-align: center;
  vertical-align: bottom;
  position: relative;
}

.toDoHeaderContent span {
  width: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 7% 0;
  font-size: xx-large;
  font-weight: 900;
  border-bottom: 5px solid black;
}

.toDoMain {
  width: 100%;
  height: 76%;
  display: flex;
}

.toDoMainToDo {
  flex: 1;
}

.toDoList {
  width: 80%;
  height: 80%;
  margin: 10% 10%;
}

.toDoList li {
  margin-bottom: 5%;
  width: 100%;
  height: 12%;
  border-bottom: 2px solid black;
  position: relative;
  display: flex;
  align-items: center;
}

.toDoList li span {
  margin-left: 30%;
}

.Btn {
  padding: 0;
  border: none;
  width: 10%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

.Btn:focus {
  outline: none;
}

.deleteBtn {
  position: absolute;
  right: 14%;
}

.finishBtn {
  position: absolute;
  right: 2%;
}

.toDoMainAdd {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.toDoMainText {
  margin-top: 20%;
  font-size: 24px;
  font-weight: bold;
}

.toDoInputBox {
  height: 10%;
  width: 90%;
  position: absolute;
  top: 40%;
}

.toDoInput {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  transition-duration: 1s;
}

.toDoInput:focus {
  outline: none;
  border: 2px solid white;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.4);
}

.toDoInputClickIcon {
  height: 80%;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer
}

.toDoInputClick {
  height: 100%;
}

.toDoMainFinish {
  flex: 1;
}

.deleteFinBtn {
  position: absolute;
  right: 2%;
}

.memoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  width: 90%;
  height: 80%;
  bottom: -72%;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s ease-in-out;
  z-index: 1;
}

.memo {
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: chartreuse;
  width: 100%;
  height: 90%;
}

.memoBtn {
  width: 10%;
  height: 10%;
  padding: 1.2% 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: chartreuse;
  text-align: center;
  cursor: pointer;
}